@model TablesAllViewModel

@{
    ViewData["Title"] = "My Tables";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="tables-intro">
    <h1>@ViewData["Title"]</h1>
    <h3>Welcome, @this.User.Identity.Name</h3>
    <div class="table-intro-text">
        Below are the tables that you are responsible to provide service for.
    </div>
</div>
@{
    var counter = 1;

    foreach (var table in Model.Tables)
    {
        <div class="tables-wrapper">
            <div class="block-wrapper">
                <div class="table-card">
                    <p>@table.Name</p>
                    @if (table.Status == "Off")
                    {
                        <img src="~/images/table-off.png" />
                    }
                    else
                    {
                        <img src="~/images/table-on.png" />
                    }

                <div class="table-lower-section">
                    <a class="table-button">Details</a>
                    @if (table.Status != "Off")
                    {
                        <a class="staff-button">Add Order</a>
                    }
                </div>
                </div>
            </div>
        </div>

    }

    counter++;
    if (counter % 3 == 0)
    {
        <br />
    }
}