.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    height: 60px;
    background: var(--main-brown-color, red);
    display: flex;
    justify-content: center;
    line-height: 60px;
    margin-top: 3em !important;
}
