.create-order-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.submit-order {
    padding: 1.2em;
    box-shadow: none;
    border: none;
    background: yellow;
    color: black;
    margin: 4em 0 !important;
}

.orders-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

    .orders-wrapper th {
        background: #dbc027;
        color: black;
        border-radius: 0.4em;
        padding: 0.6em;
    }

.orders-wrapper td {
    border: 2px solid black;
    padding: 1em 1.5em;
    border-radius: 0.4em;
}

.create-order-wrapper img {
    max-width: 12em !important;
    max-height: 15em !important;
    border-radius: 20em;
}

.kitchen-orders th {
    background: #de3c3c !important;
}

.barman-orders th {
    background: #447ce3 !important;
}

.orders-wrapper form {
    height: 1.5em !important;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

