:root {
    /*layout variables*/
    --font-size-body: 14px;
    --font-size-body-larger: 16px;
    --font-size-body-big: 18px;
    --font-size-body-huge: 20px;
    --layout-main-width: 70em;
    /*Layout colours*/
    --main-brown-color: #4a2926;
    --main-gray-color: #666666;
    --staff-color: #03adfc;
    --admin-color: #00b11f;
}
