:root {
    /*layout variables*/
    --font-size-body: 14px;
    --font-size-body-larger: 16px;
    --font-size-body-big: 18px;
    --font-size-body-huge: 20px;
    --layout-main-width: 70em;
    /*Layout main colours*/

    --red-color: #4a2926
}
