
@{
    ViewData["Title"] = "OrderNotCompleted";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Some error occured during the process of creating your order. The waiter will soon come to personally take your recipe.</h1>

